@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kurale&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kurale&family=Madimi+One&family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Archivo+Black&family=Kurale&family=Madimi+One&family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Archivo+Black&family=Jost:ital,wght@0,100..900;1,100..900&family=Kurale&family=Madimi+One&family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* orange :rgba(232,120,0,255) */
  /* black rgba(43,43,43,255) */
}

.logo-back img {
  width: 100vw;
}
.logo-back {
  display: flex;
  justify-content: center;
  height: 70vh;
}
.job-back img {
  width: 50rem;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -26rem;
  padding-left: 110px;
}
.logo {
  border-left: 10px solid rgba(43, 43, 43, 255);
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.slogan {
  position: absolute;
  left: 45vw;
  top: 240px;
  z-index: 999;
}
.slogan h1 {
  color: rgba(43, 43, 43, 255);
  font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;
}
.left {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  z-index: 999;
}
.man {
  padding-left: 110px;
  z-index: -999;
}
.man img {
  width: 25rem;
  height: 280px;
}

.logo img {
  width: 490px;
  height: 280px;
}

.right {
  display: flex;
  z-index: 999;
}
.cart {
  background-image: url("./cartoon.png");
  background-color: rgba(43, 43, 43, 255);
  width: 490px;
  height: 280px;
  padding: 6px;
  border-bottom-left-radius: 5px;
  border-bottom: 10px solid rgba(232, 120, 0, 255);
}
.cup img {
  border-right: 10px solid rgba(232, 120, 0, 255);
  border-bottom: 10px solid rgba(232, 120, 0, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 500px;
  height: 292px;
}
.cart div {
  scale: 0.9;
}
.cart h1 {
  color: rgba(232, 120, 0, 255);
  font-family: "Kurale", serif;
  font-size: 35px;
}
.cart h5 {
  color: white;
}
.cart .write-by {
  color: white;
}

/* main */
main {
  padding-top: 10rem;
  padding-left: 120px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
main .form {
  background-image: url(login\ -1.jpg);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(43, 43, 43, 255);
}
main .office img {
  width: 100px;
}

.form h1 {
  font-family: "Allerta", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgba(232, 120, 0, 255);
  font-size: 40px;
}

input {
  background: none;
  border: none;
  padding-top: 20px;
  width: 20rem;
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
  border-left: 5px solid rgba(43, 43, 43, 255);
  font-family: "Allerta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.given-captcha {
  display: flex;
  width: 10rem;

  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.given-captcha .captcha {
  background-color: rgba(232, 120, 0, 255);
  padding: 10px 30px;
}
.given-captcha img {
  width: 22px;
}
.given-captcha .refresh {
  cursor: pointer;
}
.sign {
  display: flex;
  width: 15rem;
  justify-content: space-evenly;
}
.sign button {
  font-size: 15px;
  padding: 15px;
  font-family: "Allerta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sign .have button {
  color: rgba(43, 43, 43, 255);
  background-color: rgba(232, 120, 0, 255);
  border-radius: 10px;
  transition: 1s;
  box-shadow: 1px 1px 20px rgba(43, 43, 43, 255);
  border: 2px solid rgba(43, 43, 43, 255);
}
.sign .not-have button {
  color: rgba(232, 120, 0, 255);
  background-color: rgba(43, 43, 43, 255);
  border-radius: 10px;
  transition: 1s;
  box-shadow: 1px 1px 10px rgba(43, 43, 43, 255);
  border: 2px solid rgba(232, 120, 0, 255);
}
.sign .have button:hover {
  color: rgba(232, 120, 0, 255);
  background-color: white;
  border-radius: 10px;
}
.sign .not-have button:hover {
  color: rgba(43, 43, 43, 255);
  background-color: white;
  border-radius: 10px;
}

.agent h1 {
  font-family: "Allerta", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgba(232, 120, 0, 255);
  font-size: 40px;
}
main .agent {
  width: 400px;
  height: 30rem;
  background-image: url(login-2.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(43, 43, 43, 255);
}

.foot-img img {
  width: 18rem;
}
.up {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.up h4 {
  display: flex;
  padding-top: 15px;
  line-height: 28px;
  justify-content: center;
  align-items: center;
  width: 28rem;
  font-size: 15px;
  color: rgba(232, 120, 0, 255);
  font-family: "Allerta", sans-serif;
  font-weight: 900;
  font-style: normal;
  padding-bottom: 15px;
}

.img {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 999;
}
.up {
  height: 15rem;
  background-color: rgba(43, 43, 43, 255);
}
.down {
  background-color: rgba(232, 120, 0, 255);
}
.down .copy {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(43, 43, 43, 255);
}
.copy p {
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 12px;
}
.heading {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.heading button {
  color: rgba(43, 43, 43, 255);
  background-color: rgba(232, 120, 0, 255);
  border-radius: 10px;
  transition: 1s;
  box-shadow: 1px 1px 20px rgba(43, 43, 43, 255);
  border: 2px solid rgba(43, 43, 43, 255);
  font-size: 15px;
  padding: 15px;
  font-family: "Allerta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.heading button:hover {
  color: rgba(232, 120, 0, 255);
  background-color: white;
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: blue;
}
.heading h2{
  font-family: "Allerta", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgba(43, 43, 43, 255);
  font-size: 40px;
}

.registration{
  background-image: url(regitser-bg.jpg);
}



/* getalljob */

@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Archivo+Black&family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kurale&family=Madimi+One&family=Pirata+One&family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Scribble&family=Teko:wght@300..700&family=Tilt+Neon&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Archivo+Black&family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kurale&family=Madimi+One&family=Pirata+One&family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Scribble&family=Teko:wght@300..700&family=Tilt+Neon&family=Yatra+One&display=swap');

ul li  .container{
  background-image: url(jobg.jpg);
  width:30rem;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  border: 1px solid rgba(43, 43, 43, 255);
}
ul,.search{
  margin-top: 10rem;
}
ul li .before{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li .job-title{
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: rgba(232, 120, 0, 255) ;
}
ul li .job-des{
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

ul li .job-type{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul li .job-mode{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
ul li .job-tech{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li .job-apply{
  display: flex;
  justify-content: space-between;
}
.job-link button{
  width: 100px;
  height: 50px;
  font-size: 17px;
  border-radius: 10px;
  background-color: blue;
  border: 2px solid white;
  box-shadow: 0px 0px 10px blue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: .8s ease-in-out;
}
.job-link button a{
  color: white;
}
li{
list-style: none;
}
ul li .job-time{
  display: flex;
  gap: 10px;
}
.jobs{
  display: flex;
  justify-content: space-evenly;
  
}

.title-heading{
  color: rgba(232, 120, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px black;
  background-image:linear-gradient(white ,  gray);
}
.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  background-color: white;
}

.search{
  display: flex;
}
.search input{
  border: 2px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
  border-right:none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none;
}
.search button{
  border-left: none;
  width: 5rem;
  border-top-right-radius : 5px;
  border-bottom-right-radius:5px;
  height: 3.35rem;
  background-color: rgba(232, 120, 0, 255);
  font-family:'Courier New', Courier, monospace ;
}
.left-job{
  position: sticky;
  top: 50px;
}
